{% extends 'acm/base.html' %} {% load static %} {% block content %} {% load extras %}

	<section class="banner_area d-flex text-center">
		<div class="container align-self-center">
			<div class="row">
				<div class="col-md-12">
					<div class="banner_content">
						<h2>
							{{ smp.name }}
						</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================banner Area =================-->

	<section class="container">
		<div class="row my-5">
			<div class="col-12">


				<!-- mentors -->
				{% if smp.mentors %}
					<h3>
						MENTORS :
					</h3>
					{{ smp.mentors|linebreaks }}
				{% endif %}

				{% if smp.overview %}
					<h3>
						OVERVIEW :
					</h3>
					<p>{{ smp.overview|linebreaks }}</p>
				{% endif %}

				<!-- Platform of tutoring -->
				{% if smp.platform_of_tutoring %}
					<h3>PLATFORM FOR TUTORING :</h3>
					{{ smp.platform_of_tutoring|linebreaks }}
				{% endif %}

				<!--Details-->
				{% for x in smp_des %}
				{% if forloop.first %}

				<!--Exercise-->
				<h3 style="text-transform: uppercase;">{{ smp_des.0.sub_heading }}</h3>
				<ul>
					<li>{{ smp_des.0.sub_des }}</li>

				<!--From second bullet points-->
				{% elif smp_des|compare:forloop.counter0 %}
					<li>{{ x.sub_des }}</li>

				<!-- For Week1 only -->
				{% elif x.sub_heading == "Session 1" %}
				</ul>
				<h3>COURSE PLAN</h3>
				<h3 style="text-transform: uppercase;">{{ x.sub_heading }}</h3>
				<ul>
					<li>{{ x.sub_des }}</li>

				<!--For all other weeks and prerequisite-->
				{% else %}
				</ul>
				<h3 style="text-transform: uppercase;">{{ x.sub_heading }}</h3>
				<ul>
					<li>{{ x.sub_des }}</li>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}