{% extends 'acm/base.html' %}
{% load is__sig %}
{% block head_content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
	<br><br><br><br><br>
	{% if valid %}
	<form method="POST" action="">
			{% csrf_token %}
				<div class="container center_div">
					<div class="form-group row" align="center"> 
						<label for="SIG">Choose SIG:</label>
						<br>
						{{event_form.SIG}}
					</div>
				</div>
			{% for x in event_form %}
			  {% if forloop.first %}
			  {% else %}
			  	<div class="container center_div">
					<div class="form-group row" align="center"> 
						<label for="{{x.name}}">{{x.name}}</label>
						{% if request.get_full_path == '/acm/events/new' %}	
							<input type="text" class="form-control" name="{{x.name}}" maxlength="{{x.max_length}}" id="{{x.name}}">
						{% else %}
							{% with f=s|add_value:forloop.counter0 %}
								<input type="text" class="form-control" name="{{x.name}}" maxlength="{{x.max_length}}" id="{{x.name}}" value="{{f}}">
							{% endwith %}
						{% endif %}
					</div>
				</div>
			 {% endif %}
			{% endfor %}
		<div class="container center_div">
			<div class="form-group row" align="center"> 	
				<button type="submit">Submit</button>
			</div>
		</div>
	</form>
	{% else %}
	<form method="POST" action="">
			{% csrf_token %}
			{{password_form}}
			<button type="submit">Submit</button>
		</form>
	{% endif %}
{% endblock %}

   

	