table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.events_work_area {
  background-color: #fff;
}

.carousel {
  margin-top: 20px;
}
.carousel-item {
  text-align: center;
  height: 350px;
  /*Prevent carousel from being distorted if for some reason image doesn't load */
}
.bs-example {
  margin: 20px;
}
