{% load staticfiles %}
<!DOCTYPE HTML>

<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href={% static "images/ACM_logo.svg.png" type="images/png" %}>
    <title>ACM NITK</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/new_owl-carousel/new_owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/lightbox/simpleLightbox.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/nice-select/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_responsive.css'%}">
</head>


<body>
    <header class="header_area">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="index.html"><img src="{% static 'images/ACM_logo.svg.png' %}"
                        style="height:50px;margin:15px" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="/acm/">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#yantras" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Yantras</a>
                            <ul class="dropdown-menu">
                              {% for x in sigo %}
                                <li class="nav-item"><a class="nav-link" href="/acm/{{ x.pk }}">{{ x.name  }}</a></li>
                              {% endfor %}
                                </li>
                            </ul>
                        </li>
                         <li class="nav-item"><a class="nav-link" href="trails.html">Trails</a></li>
                        <li class="nav-item"><a class="nav-link" href="/acm/events/">Events</a></li>
                        <li class="nav-item"><a class="nav-link" href="/acm/blog/">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--================Header Area =================-->
    
    
     <!--================banner Area =================-->
    <section class="banner_area d-flex text-center">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_content">
                        <h1>{{ sig.name }}</h1>
                        <h3><p>Welcome to the home of code</p></h3>
                         <a href="/smp/{{ sig.pk }}" class="btn_hover btn_hover_two">Summer Mentorship Programme</a> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================banner Area =================-->
    
    
		<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>

<section class="about_area" style="margin-top:100px">
        <div class="container">
            <div class="section_title text-center">
                <h2 style="margin-bottom:30px">What is Sanganitra?</h2>
                <p style="font-size: 20px">
                    Sanganitra is the computer science oriented special interest group of ACM NITK Chapter.
                </p>
            </div>

        </div>
    </section>
    
    <section class="about_area">
        <div class="container">
            <div class="section_title text-center">
                <h2 style="margin-bottom:30px">What do we do at Sanganitra?</h2>
                <p style="font-size: 20px">
                   We are a bunch of people from different walks of life united by a single goal, to code, and to code well. Split into three sub interest groups namely, Security, Machine Learning and Systems, we carry out lively discussions year around on the various developments and complications in the aforementioned fields. We believe that code can do miracles and our projects are a testament to this fact. We also host code oriented events throughout the year and try to establish a platform to bring the best out of the coder in everyone. 
                </p>
            </div>

        </div>
    </section>
    
        
    <section class="about_area">
        <div class="container">
            <div class="section_title text-center">
                <h2 style="margin-bottom:30px">Our motivation</h2>
                <p style="font-size: 20px">
                    We, at Sanganitra, believe that code can create wonders and are driven by the single goal of breathing life into our belief.
            </div>

        </div>
    </section>
    
    
    <!--================Events Area =================-->
<style>
    .events_work_area{
        background-color:#fff;
    }
</style>
    <section class="events_work_area " id="events">
<div class="section_title text-center" >
        <h2>Events</h2>
    </div>
    
        <div class="bs-example">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    {% for i in events %}
                     {% if forloop.first %}
                      <li data-target="{% static '#myCarousel' %}" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                    {% else %}
                      <li data-target="{% static '#myCarousel' %}" data-slide-to="{{ forloop.counter0 }}"></li>
                    {% endif %}
                  {% endfor %}
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner container">
                   {% for z in events %}
                   {% if forloop.first %}
                      <div class="carousel-item active events_image features_item">
                    {% else %}
                      <div class="carousel-item events_image features_item">
                    {% endif %}
                        <h3 style="text-align: center">{{ z.name }}</h3>
                        <p>{{ z.description }}</p>
                    </div>
                   {% endfor %}
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="{% static '#myCarousel' %}" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="{% static '#myCarousel' %}" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
         <style>
        .carousel{
            margin-top: 20px;
        }
        .carousel-item{
            text-align: center;
            height: 350px; 
             /*Prevent carousel from being distorted if for some reason image doesn't load */
        }
        .bs-example{
        	margin: 20px;
        }
        </style> 
    </section>

    <!--================Events Area=================-->
    
    
     <section class="about_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 style="margin-bottom:30px">Projects</h2>
                <h3 style="margin-bottom:30px">Here is the list of projects that we completed in the year 2018-2019</h3>
               {% for p in projects %}
                <div class="jumbotron">
                    <h4>{{ p.name }}</h4>
                    <p>{{ p.description }}</p>    
                    <br>
                    <li><a href={{ p.report_link }} <span class="label">Report Link </span></a></li>
                    <li><a href={{ p.poster_link }}  <span class="label">Poster Link </span></a></li></td>
                </div>
                {% endfor %}                            
            </div>

        </div>
    </section>


    <script src="{% static 'sjs/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</html>
