{% extends 'acm/base.html' %} {% load static %} {% block head_content %}
<link rel="stylesheet" href="{% static 'acm/css/yantras.css' %}" />
{% endblock %} {% block content %}

<section class="banner_area d-flex text-center">
    <div class="container align-self-center">
        <div class="row">
            <div class="col-md-12">
                <div class="banner_content text-center">
                    <h1>{{ sig.name }} Project Proposals</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_area mt-5">
    <div class="container pt-5">
        <div class="section_title text-center">
            <h2>Projects</h2>
            <h3>
                Here is the list of projects that we have proposed for the year 2020-2021
            </h3>
        </div>
    </div>
    <br /><br />
</section>

<section class="about_area">
    <div class="container">
        <section class="features_area">
            <div class="row m0">
                {% for p in projects %}
                <div class="col-md-4 features_item" style="text-align:center">
                    <h3 style="text-align:center">{{ p.name }}</h3>
                    <a href="/proposal/{{p.id}}" class="btn_hover view_btn">Read more</a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</section>
</br> </br></br>
{% endblock %}