{% load staticfiles %}
{% load is__sig %}
<!DOCTYPE HTML>

<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="{% static 'acm/images/ACM_logo.svg.png' %}" type="images/png">
	<title>ACM NITK</title>
	<link rel="stylesheet" href="{% static 'acm/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'acm/vendor/linericon/style.css' %}">
	<link rel="stylesheet" href="{% static 'acm/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'acm/vendor/new_owl-carousel/new_owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'acm/vendor/lightbox/simpleLightbox.css' %}">
	<link rel="stylesheet" href="{% static 'acm/vendor/nice-select/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'acm/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'acm/css/new_responsive.css'%}">
	<script src="{% static 'acm/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'acm/js/popper.js' %}"></script>
	<script src="{% static 'acm/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'acm/js/custom.js' %}"></script>
	{% block head_content %}

	{% endblock %}
</head>


<body>

	<header class="header_area">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand logo_h" href="/"><img src="{% static 'acm/images/ACM_logo.svg.png' %}"
						style="height:50px;margin:15px" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">

					<ul class="nav navbar-nav menu_nav ml-auto">
						{% if request.get_full_path == '/' %}
						<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
						{% else %}
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						{% endif %}
						{% if request.get_full_path|is_sig %}
						<li class="nav-item active submenu dropdown">
							{% else %}
						<li class="nav-item submenu dropdown">
							{% endif %}
							<a href="#yantras" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Yantras</a>
							<ul class="dropdown-menu">
								{% for x in sigo %}
								{% if x.id|is_main_sig %}
								<li class="nav-item"><a class="nav-link" href="/{{ x.pk }}">{{ x.name  }}</a></li>
								{% endif %}
								{% endfor %}
						</li>
						</ul>
						</li>
						{% if '/expo' in request.get_full_path or '/project' in request.get_full_path %}
						<li class=" nav-item active"><a class="nav-link" href="/expo">Project
								Expo</a>
							{% else %}
						<li class=" nav-item"><a class="nav-link" href="/expo">Project
								Expo</a>

							{% endif %}
						<li class="nav-item"><a class="nav-link" href="http://nitk.acm.org/trails.html">Trails</a></li>
						{% if request.get_full_path == '/contact_us/' %}
						{% elif request.get_full_path == '/esp/' %}
						{% elif request.get_full_path == '/project/new' %}
						{% elif request.get_full_path == '/events/new' %}
						{% elif "smp" in request.get_full_path %}
						{% else %}
						<li class="nav-item"><a class="nav-link" href="#events">Events</a></li>
						{% endif %}
						{% if request.get_full_path == '/' %}
						<li class="nav-item"><a class="nav-link" href="/esp">ESP</a></li>
						{% endif %}
						<li class="nav-item"><a class="nav-link" href="https://nitk.acm.org/blog/">Blog</a></li>
						{% if request.get_full_path == '/contact_us/' %}
						<li class="nav-item active"><a class="nav-link" href="/contact_us/">Contact</a></li>
						{% else %}
						<li class="nav-item"><a class="nav-link" href="/contact_us/">Contact</a></li>
						{% endif %}
					</ul>
					<!-- <ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
					</ul> -->
				</div>
			</div>
		</nav>
		{% if messages %}
		{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
		<div class="alert alert-danger" role="alert">
			{{message}}
		</div>
		{% else %}
		<div class="alert alert-success" role="alert">
			{{message}}
		</div>
		{% endif %}
		{% endfor %}
		{% endif %}
	</header>
	{% block content %}

	{% endblock %}
</body>

</html>
