{% extends 'acm/base.html' %}
{% load static %}  
{% block content %}
<section class="donate_area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-self-center">
                    <div class="donate_content ">
                        <h2>Contact us</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <form id="contact-form" method="post" action="/php/contact.php" role="form">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">Firstname *</label>
                                        <input id="form_name" type="text" name="name" class="form-control"
                                            placeholder="Firstname" required="required"
                                            data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Lastname *</label>
                                        <input id="form_lastname" type="text" name="surname" class="form-control"
                                            placeholder="Lastname" required="required"
                                            data-error="Lastname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Email *</label>
                                        <input id="form_email" type="email" name="email" class="form-control"
                                            placeholder="Email Address" required="required"
                                            data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Message *</label>
                                        <textarea id="form_message" name="message" class="form-control"
                                            placeholder="Well Well Well, looks like you found out the clue. The flag you are looking for is, 'acm{w3Lc0m3_t0_ctf_U0Gr06}'... but, another flag is hidden within our website, can you find that out?" rows="4" required="required"
                                            data-error="Please, leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" value="Send" class="btn_hover view_btn" style="margin:2px"><input type="reset" value="Clear" class="btn_hover view_btn">
                                    <!--<input type="submit" value="SUBMIT" class="submit" />-->
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <!--<a type="submit" id="form-submit"class="btn_hover view_btn">Submit</a>-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-muted">
                                        <strong>*</strong> These fields are required.</p>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
