{% extends 'acm/base.html' %} {% load static %} {% block head_content %}
<link rel="stylesheet" href="{% static 'acm/css/yantras.css' %}" />
{% endblock %} {% block content %}

<section class="banner_area d-flex text-center">
    <div class="container align-self-center">
        <div class="row">
            <div class="col-md-12">
                <div class="banner_content text-center">
                    <h1>{{ sig.name }} Project Expo</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_area mt-5">
    <div class="container pt-5">
        <div class="section_title text-center">
            <h2>Projects</h2>
            <h3>
                Here is the list of projects that we completed in the year 2019-2020
            </h3>
        </div>
    </div>
    <br /><br />
</section>

<section class="container">
    <div class="row mb-5">
        {% for p in projects %}
        <!-- <div class="col-lg-4 col-sm-6 col-12">
            <div class="card-deck">
                <a href="/project/{{p.id}}" class="text-dark">
                    <div class="card mb-4 hvr-glow" style="width:300px;height:400px;">
                        <img src="/media/{{p.display_picture}}" style="width:300px;height:300px;" class="card-img-top"
                            alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">{{ p.name }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div> -->
        <div class="card-deck  col-md-4 col-sm-6 col-sm-12">
            <div class="card" style="margin-bottom: 15px;">
                <!-- <div class=" card"> -->
                <div style="text-align:center">
                    <a href="/project/{{p.id}}" class="text-dark">
                        <img src="/media/{{p.display_picture}}" alt="Card image cap" class="img-fluid"
                            style="height:300px; width:100%">
                    </a>
                    <div class="card-body">
                        <!-- <h5 class="card-title" style="text-align:center" ;><strong>${events.name}</strong></h5>
                        <p class="card-text">${events.desc}</p> -->
                        <h5 class="card-title">{{ p.name }}</h5>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}