{% extends 'acm/base.html' %}
{% load static %}   

{% block head_content %}
    <link rel="stylesheet" href="{% static 'acm/css/yantras.css' %}">
{% endblock %}
{% block content %}

    <!--================Events Area =================-->

	<section class="about_area section_gap">
        <div class="container">
            <div class="section_title text-center">
            	<h2>Events</h2>
				<!--<a href="/events/new" type="button" class="btn_hover btn_hover_two">ADD AN EVENT</a><br><br>-->
				{% for z in events %}
                    <div class="jumbotron">
                        <h4>{{ z.name }}</h4>
                        <p>{{ z.description }}</p>    
                        <br>
                        <li><a href="/events/delete/{{ z.id }}" <span class="label">Remove </span></a></li>
                        <li><a href="/events/update/{{ z.id }}"><span class="label">Update </span></a></li></td>
                    </div>
                {% endfor %}                            
            </div>
        </div>
	</section>


    <!--================Projects Area=================-->
    
    
     <section class="about_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 style="margin-bottom:30px">Projects</h2>
            	<!--<a href="/project/new" type="button" class="btn_hover btn_hover_two">ADD A PROJECT</a><br><br>-->
                {% for p in projects %}
                    <div class="jumbotron">
                        <h4>{{ p.name }}</h4>
                        <p>{{ p.description }}</p>    
                        <br>
                        <li><a href="/projects/delete/{{ p.id }}" <span class="label">Remove </span></a></li>
                        <li><a href="/projects/update/{{ p.id }}"  <span class="label">Update </span></a></li></td>
                    </div>
                {% endfor %}                            
            </div>
        </div>
	</section>
	

	 <!--================SMPs Area=================-->
    
    
     <section class="about_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 style="margin-bottom:30px">SMPs</h2>
            	<!--<a href="/smp/new-smp" type="button" class="btn_hover btn_hover_two">ADD AN SMP</a><br><br>-->
                {% for s in smps %}
                    <div class="jumbotron">
                        <h4>{{ s.name }}</h4>
                        <br>
                        <li><a href="/smp/delete/{{ s.id }}" <span class="label">Remove </span></a></li>
                    </div>
                {% endfor %}                            
            </div>
        </div>
    </section>
{% endblock %}