{% extends 'acm/base.html' %} {% load static %} {% block content %}
<section class="banner_area d-flex text-center">
    <div class="container align-self-center">
        <div class="row">
            <div class="col-md-12">
                <div class="banner_content">
                    <h2>
                        {{project.name}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row my-5">
        <div class="col-12 text-center">
            <img src="/media/{{project.display_picture}}" alt="" / style="width: 50%;height:30vh;">
        </div>
        <div class="col-12">
            {% if project.mentors %}
            <h3>
                MENTORS:
            </h3>
            {{ project.mentors|linebreaks }}
            {% endif %}
            {% if project.members %}
            <h3>MEMBERS:</h3>
            {{ project.members|linebreaks }}
            {% endif %}
            {% if project.duration_in_months %}
            <h3>DURATION:</h3>
            <p>{{ project.duration_in_months }} months</p>
            {% endif %}
            {% if project.introduction %}
            <h3>DESCRIPTION</h3>
            <p>{{ project.introduction|linebreaks }}</p>
            {% endif %}
            {% if project.method %}
            <h3>METHOD</h3>
            <p>{{ project.method|linebreaks }}</p>
            {% endif %}
            {% if project.results %}
            <h3>RESULTS</h3>
            <p>{{ project.results|linebreaks }}</p>
            {% endif %}
            {% if project.obstacles %}
            <h3>OBSTACLES</h3>
            <p>
                {{ project.obstacles|linebreaks }}
            </p>
            {% endif %}
            {% if project.conclusion %}
            <h3>CONCLUSION</h3>
            <p>
                {{ project.conclusion|linebreaks }}
            </p>
            {% endif %}
            {% if project.future_work %}
            <h3>FUTURE WORK</h3>
            {{ project.future_work|linebreaks }}
            {% endif %}
            {% if project.knowledge %}
            <h3>KNOWLEDGE</h3>
            {{ project.knowledge|linebreaks }}
            {% endif %}
            {% if project.references %}
            <h3>REFERENCES</h3>
            <p>
                {{ project.references|linebreaks }}
            </p>
            {% endif %}
            {% if pictures %}
            <h3>PICTURES</h3>
            <section class="container">
                <div class="row mb-5">
                    {% for picture in pictures %}
                    <!-- <div class="col-lg-4 col-sm-6 col-12">
                        <div class="card-deck">
                            <div class="card mb-4 hvr-glow">
                                <img src="/media/{{picture.picture}}" style="height:270px; width:100%"
                                    class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <h3>{{ picture.title }}</h3>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="card-deck  col-md-4 col-sm-6 col-sm-12">
                        <div class="card" style="margin-bottom: 15px;">
                            <!-- <div class=" card"> -->
                            <div style="text-align:center">

                                <img src="/media/{{picture.picture}}" alt="Card image cap" class="img-fluid"
                                    style="height:270px; width:100%">
                                <div class="card-body">
                                    <!-- <h5 class="card-title" style="text-align:center" ;><strong>${events.name}</strong></h5>
                                                                <p class="card-text">${events.desc}</p> -->
                                    <h4 class="card-title">{{ picture.title }}</h4>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- <img src="" /> -->
                    {% endfor %}
                </div>
            </section>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}