{% extends 'acm/base.html' %}
{% load static %}   
{% load is__sig %}
{% block head_content %}
    <link rel="stylesheet" href="{% static 'acm/css/yantras.css' %}">
{% endblock %}
{% block content %}
    <!--================Header Area =================-->
    
    
     <!--================banner Area =================-->
    <section class="banner_area d-flex text-center">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_content">
                        <h1>{{ sig.name }}</h1>
                        <h3><p>{{data.sub_head}}</p></h3>
                        <!-- {% if sig.id|is_core_sig %}
                            <a href="/expo/{{ sig.pk }}"  style = "width:325px;" class="btn_hover btn_hover_two">Project Expo</a><br>
                             <a href="/all_proposals/{{ sig.pk }}"  style = "width:325px;" class="btn_hover btn_hover_two">Project Proposals</a><br> 
                        {% endif %} -->
                         <a href="/smp/{{ sig.pk }}"  style = "width:325px;" class="btn_hover btn_hover_two">Summer Mentorship Program</a><br>
                         <!-- <a href="manage" class="btn_hover btn_hover_two">Manage Yantra</a>  -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================banner Area =================-->


    <section class="about_area" style="margin-top:100px">
        <div class="container">
            <div class="section_title text-center">
                <h2 style="margin-bottom:30px">What is {{data.name}}?</h2>
                <p style="font-size: 20px">
                    {{data.description}}
                </p>
            </div>

        </div>
    </section>
    
    <section class="about_area">
        <div class="container">
            <div class="section_title text-center">
                <h2 style="margin-bottom:30px">What do we do at {{data.name}}?</h2>
                <p style="font-size: 20px">
                   {{data.long_desc}}
                </p>
            </div>
            {% if sig.vision_statement != 'a' %}
            <div class="section_title text-center">
                <h2 style="margin-bottom:30px">Our vision</h2>
                <p style="font-size: 20px">
                    {{sig.vision_statement}}
                </p>
            </div>
            {% endif %}

            {% if sig.mission_statement != 'a' %}
            <div class="section_title text-center">
                <h2 style="margin-bottom:30px">Our mission</h2>
                <p style="font-size: 20px">
                    {{sig.mission_statement}}
                </p>
            </div>
            {% endif %}
            
        </div>
    </section>
    
    
    <!--================Events Area =================-->

    <section class="events_work_area " id="events">
        <div class="section_title text-center" >
            <h2>Events</h2>
        </div>
    
        <div class="bs-example">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    {% for i in events %}
                     {% if forloop.first %}
                      <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                    {% else %}
                      <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                    {% endif %}
                  {% endfor %}
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner container">
                   {% for z in events %}
                   {% if forloop.first %}
                      <div class="carousel-item active events_image features_item">
                    {% else %}
                      <div class="carousel-item events_image features_item">
                    {% endif %}
                        <h3 style="text-align: center">{{ z.name }}</h3>
                        <p>{{ z.description }}</p>
                    </div>
                   {% endfor %}
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <br><br>
    </section>
    
{% endblock %}