{% load staticfiles %}
<!DOCTYPE HTML>

<html lang="en">
    
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="{% static 'acm/images/ACM_logo.svg.png' %}" type="images/png">
		<title>ACM NITK</title>
		<link rel="stylesheet" href="{% static 'acm/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'acm/vendor/linericon/style.css' %}">
		<link rel="stylesheet" href="{% static 'acm/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'acm/vendor/new_owl-carousel/new_owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'acm/vendor/lightbox/simpleLightbox.css' %}">
		<link rel="stylesheet" href="{% static 'acm/vendor/nice-select/css/nice-select.css' %}">
		<link rel="stylesheet" href="{% static 'acm/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'acm/css/new_responsive.css'%}">
		<script src="{% static 'acm/js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'acm/js/popper.js' %}"></script>
		<script src="{% static 'acm/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'acm/js/custom.js' %}"></script>
		{% block head_content %}

		{% endblock %}
	</head>


	<body>
		
		<header class="header_area">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<a class="navbar-brand logo_h" href="index.html"><img src="{% static 'acm/images/ACM_logo.svg.png' %}"
							style="height:50px;margin:15px" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/acm/">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#yantras" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false">Yantras</a>
								<ul class="dropdown-menu">
								{% for x in sigo %}
									<li class="nav-item"><a class="nav-link" href="/acm/{{ x.pk }}">{{ x.name  }}</a></li>
								{% endfor %}
									</li>
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="trails.html">Trails</a></li>
							<li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
							<li class="nav-item"><a class="nav-link" href="/acm/contact_us/">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		{% block content %}

		{% endblock %}
	</body>
</html>