{% extends 'acm/base.html' %}
{% load static %}   
{% load extras %}
{% block head_content %}
	<script>
		function add_element(form_field_id){
			curr_form_field_freq=document.querySelector("#" + form_field_id.toLowerCase() + "freq").value;
			if(curr_form_field_freq<5){
				document.querySelector("#" + form_field_id.toLowerCase() + "freq").value++;
				curr_form_field_freq++;
				document.querySelector("#" +form_field_id + curr_form_field_freq+"_div").style.display="block";
			}
		}

		function remove_element(form_field_id){
			curr_form_field_freq=document.querySelector("#"+form_field_id.toLowerCase() + "freq").value;
			if(curr_form_field_freq>1){
				document.querySelector("#"+form_field_id.toLowerCase() + "freq").value--;
				document.querySelector("#"+form_field_id + curr_form_field_freq+"_div").style.display="none";
			}
		}
	</script>
{% endblock %}
{% block content %}
	<br><br><br><br><br>
	{% if validated %}
	<form action="" method="POST" id="main_content">
		{% csrf_token %}

		<!--- # SIG with options -->
		{{smp_form.SIG}}

		<!---Static fields like SMP-Name, Mentors -->
		{% for f in smp_form %}
			{% if f.name in static_fields %}
				<div class="form-group" > 
					<label for="{{f.name}}">{{f.name}}</label>
					<input type="text" class="form-control" name="{{f.name}}" maxlength="{{f.max_length}}" id="{{f.name}}">
				</div>
			{% elif 'freq' in f.name %}
				{{f}}
			{% endif %}
		{% endfor %}
       		<h3>Exercises</h3>
		{% for f in smp_form %}
			{% if 'Exercise' in f.name %}
				{% if f.is_hidden %}
					<div class="form-group" id="{{f.name}}_div" style="display:none;"> 
						<label for="{{f.name}}">{{f.label}}</label>
						<input rows="4" class="form-control" name="{{f.name}}" maxlength="{{f.max_length}}" id="{{f.name}}">
					</div>
				{% else %}
					<div class="form-group" id="{{f.name}}_div" > 
						<label for="{{f.name}}">{{f.label}}</label>
						<input rows="4" type="text" class="form-control" name="{{f.name}}" maxlength="{{f.max_length}}" id="{{f.name}}">
					</div>
				{% endif %}
			{% endif %}
		{% endfor %}
		<button type="button" onclick="add_element('Exercise_')" class="btn btn-primary">Add</button>
		<button type="button" onclick="remove_element('Exercise_')" class="btn btn-primary">Remove</button>
		
		<br>
			<h3>Prerequisite</h3>
			{% for f in smp_form %}
				{% if 'Prerequisite' in f.name %}
					{% if f.is_hidden %}
						<div class="form-group" id="{{f.name}}_div" style="display:none;"> 
							<label for="{{f.name}}">{{f.label}}</label>
							<input type="text" class="form-control" name="{{f.name}}" maxlength="{{f.max_length}}" id="{{f.name}}">
						</div>
					{% else %}
						<div class="form-group" id="{{f.name}}_div" > 
							<label for="{{f.name}}">{{f.label}}</label>
							<input type="text" class="form-control" name="{{f.name}}" maxlength="{{f.max_length}}" id="{{f.name}}">
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		<button type="button" onclick="add_element('Prerequisite_')" class="btn btn-primary">Add</button>
		<button type="button" onclick="remove_element('Prerequisite_')" class="btn btn-primary">Remove</button>

		<br>

			<h3>Course content</h3>
			{% for f in smp_form %}
				{% if 'Course-content' in f.name %}
					{% if f.is_hidden %}
						<div class="form-group" id="{{f.name}}_div" style="display:none;"> 
							<label for="{{f.name}}">{{f.label}}</label>
							<input type="text" class="form-control" name="{{f.name}}" maxlength="{{f.max_length}}" id="{{f.name}}">
						</div>
					{% else %}
						<div class="form-group" id="{{f.name}}_div" > 
							<label for="{{f.name}}">{{f.label}}</label>
							<input type="text" class="form-control" name="{{f.name}}" maxlength="{{f.max_length}}" id="{{f.name}}">
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		<button type="button" onclick="add_element('Course-content_')" class="btn btn-primary">Add</button>
		<button type="button" onclick="remove_element('Course-content_')" class="btn btn-primary">Remove</button>

		<br>
			<h3>Weekly Plan</h3>
			{% for i in range_of_8 %}
				{% if i is 1 %}
					<div id="Week_{{i}}_div">
						Week {{i}}
						{% for f in smp_form %}
							{% concatenate "Week_" i "_Description" as q %}
							{% if q in f.name %}
								{% if f.is_hidden %}
									<div class="form-group" id="{{f.name}}_div" style="display:none;"> 
										<label for="{{f.name}}">{{f.label}}</label>
										<input type="text" class="form-control" name="{{f.name}}" maxlength="{{f.max_length}}" id="{{f.name}}">
									</div>
								{% else %}
									<div class="form-group" id="{{f.name}}_div" > 
										<label for="{{f.name}}">{{f.label}}</label>
										<input type="text" class="form-control" name="{{f.name}}" maxlength="{{f.max_length}}" id="{{f.name}}">
									</div>
								{% endif %}
							{% endif %}
						{% endfor %}
						<button type="button" onclick="add_element('Week_'+{{i}}+'_Description_')" class="btn btn-primary">Add week description</button>
						<button type="button" onclick="remove_element('Week_'+{{i}}+'_Description_')" class="btn btn-primary">Remove week description</button>
					</div>
				{% else %}
					<div id="Week_{{i}}_div" style="display:none;">
						Week {{i}}
						{% for f in smp_form %}
							{% concatenate "Week_" i "_Description" as q %}
							{% if q in f.name %}
								{% if f.is_hidden %}
									<div class="form-group" id="{{f.name}}_div" style="display:none;"> 
										<label for="{{f.name}}">{{f.label}}</label>
										<input type="text" class="form-control" name="{{f.name}}" maxlength="{{f.max_length}}" id="{{f.name}}">
									</div>
								{% else %}
									<div class="form-group" id="{{f.name}}_div" > 
										<label for="{{f.name}}">{{f.label}}</label>
										<input type="text" class="form-control" name="{{f.name}}" maxlength="{{f.max_length}}" id="{{f.name}}">
									</div>
								{% endif %}
							{% endif %}
						{% endfor %}
						<button type="button" onclick="add_element('Week_'+{{i}}+'_Description_')" class="btn btn-primary">Add week description</button>
						<button type="button" onclick="remove_element('Week_'+{{i}}+'_Description_')" class="btn btn-primary">Remove week description</button>
					</div>
				{% endif %}
			{% endfor %}
		<button type="button" onclick="add_element('Week_')" class="btn btn-primary">Add week</button>
		<button type="button" onclick="remove_element('Week_')" class="btn btn-primary">Remove week</button>
		<button type="submit">Submit</button>
	<form>
	{% else %}
		<form method="POST" action="">
			{% csrf_token %}
			{{password_form}}
			<button type="submit">Submit</button>
		</form>
	{% endif %}
{% endblock %}
